/*This is just to keep track of the colors*/
.color {
  color: #77dd76;
  color: #a6eca8;
  color: #d2fdbb;
  color: #fbfde1;
  color: #fdfd97;
}

.nav-bar-wrapper {
  display: flex;
  background-color: black;
  height: 10vh;
  align-items: center;
  position: fixed;
  z-index: 2;
}

.nav-bar-wrapper ul {
  color: white;
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.top-bar,
.bottom-bar {
  display: none;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0px;
  margin: 0px;
  outline: 0px;
  transition: none;
  line-height: 0;
}

html,
body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none; /* Chrome */
}
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

main,
footer {
  position: relative;
  top: 10vh;
}

.head-wrapper {
  background-color: #ce9460;
  display: flex;
  height: 90vh;
  justify-content: space-around;
  align-items: center;
}

#film1 {
  position: absolute;
  z-index: 0;
  width: 100%;
}

.left-bar,
.mid-pic,
.right-bar {
  height: 80%;
}

#left-logo,
#right-logo {
  height: 100%;
  animation: fill 1s ease forwards 6s;
  position: relative;
  z-index: 1;
}
#nadia-pic {
  position: relative;
  z-index: 1;
  height: 100%;
  border: 3px solid white;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.main-wrapper {
  background-color: #f7d3ac;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  background-color: #f7d3ac;
  width: 90%;
  height: 90%;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 5%;
}

.gallery img {
  width: 100%;
  justify-self: center;
  align-self: center;
  border: solid 5px black;
  padding: 5%;
}

footer {
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid black;
}

#copyright {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
